/* Thin scrollbar styling for modern browsers */

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #818cf8 #e0e7ff; /* thumb and track */
}

/* Webkit browsers */
.scrollbar-thumb-indigo-400::-webkit-scrollbar-thumb {
  background-color: #818cf8;
  border-radius: 9999px;
}

.scrollbar-track-indigo-100::-webkit-scrollbar-track {
  background-color: #e0e7ff;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
